body {
    min-height: 5372px;
    margin: 0 ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    background: #EFE6E4;
    color: #533738;
    font-size: 18px;
    line-height: 30px;

     /*padding-right: auto;
    padding-left: auto; */
  }
  ul, h1, h2, h3, p, img {
     margin:0;
  }
  a {
    text-decoration: none;
    color: #533738;
  }
  h1, h2, h3 {
    color: #533738;
    font-style: normal;
    font-weight: normal;
    font-family: Montserrat;
  }
  h1 {
    font-size: 50px;
    line-height: 62px;
    
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
    
    text-transform: uppercase;
  }

  /* ШАПКА */
 header {
    /*margin-right: auto;
    margin-left: auto;*/
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
    min-height: 715px;
    background: url("img/bg_header.jpg") no-repeat;
    background-size: cover;
    padding: 36px 100px 0 98px;
}
.menu {
    /* position:fixed; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;/*new*/
    justify-content: space-between;
}
.logo {
    display: flex;
    margin-right: 80px;
    
    font-size: 16px;
    line-height: 20px;
   
}
.logo a {
    margin-top:auto;
    margin-bottom: auto;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 35px;
    font-size: 16px;
    line-height: 20px;
    flex-grow: 1;
    
}
.menu-list-mini {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
/*     row-gap: 20px; */
    column-gap: 20px;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-right: 35px; */
    font-size: 16px;
    line-height: 20px;
/* 	padding: 20px; */
    
   
    
}
.menu-list-mini div {
    /* background-color: #E2C4BA;
    opacity: 0.5; */
    border: 1px solid #533738;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: inset 0 0 5px 5px #E2C4BA;
    margin: 5px;
}
/* .menu-list-mini a {
   
    
} */
.menu-list a {
	padding: 5px;
}
.menu-list div, .menu-list-mini {
	flex-grow: 1;
}
.menu-list a:hover,
.menu-list-mini a:hover {
    /*text-transform: uppercase;*/
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); */
    background-color: #E2C4BA;
    box-shadow:  0 0 5px 5px #E2C4BA;
    color: white;
    
}

.phone-number {
       
    font-size: 16px;
    line-height: 20px; 
    margin-top: auto;
    margin-bottom: auto;
}
.slogan {
    max-width: 534px;
    text-align: left;
    margin-left: 86px;
    margin-top: 91px;
   
}

header p {
    margin: 24px 0 21px 0;
   
}
.button {
    
    width: 179px;
    height: 24px;
    padding: 25px 65px;
    background: #CC8B86;
    
}
.button span {
    
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
}
.button:hover {
   
    box-shadow: 0 0 12px 0 #533738 /* #E2C4BA;*/
}
/* О НАС */
.about-us-section{
    min-height: 576px;
    margin-top: 65px;

    text-align: center;

}
.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 64px;
    row-gap: 20px;
    margin-top: 40px;

}
.about-us p {
    max-width: 528px;
    text-align: left;
    padding-bottom: 30px;
}
.about-us-image {
	line-height: 0;
	max-width: 445px;
}
.about-us-image img {
    max-width: 100%;
    height: auto;
}
/* ДОСТИЖЕНИЯ */

.achievements-section {
    max-width: 1400px;
    min-height: 273px;
    background: #8D7370;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 269px;
    row-gap: 81px;
    justify-content: center;
    
   
}

.achievements-section div {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    
}
p.text {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #ffffff;
}
p.number {
    font-size: 50px;
    line-height: 62px;
    color: #ffffff;
}
/* НАШИ РАБОТЫ */
.works-section {
    min-height: 1099px;
    max-width: 1200px;
    margin: 65px auto;
    text-align: center;

}
.works-section h2 {
	text-align: left;
	
}
.works {
    display: flex; 
    flex-wrap: wrap; 
    column-gap: 20px;  
/*     row-gap: 30px; */
    justify-content: center;
    margin: 40px auto;
   
}
.work {
    line-height: 0;
    height:451px;
    position: relative;
    background-size: cover;
    margin-bottom: 30px;
    
}
.work1 {
    background-image: url("img/work1.png");
    width: 488px;
   
}
.work2 {
    background-image: url("img/work2.png");
    width: 692px;
    
}
.work3 {
    background-image: url("img/work3.png");
    width: 692px;
    
   
}
.work4 {
    background-image: url("img/work4.png");
    width: 488px;
    margin-bottom: 0;
    
}

.work-hover,
.work-hover-wide {
    position: absolute;
    top:0;
    left: 0;
    height: 451px;
    visibility: hidden;
    width: 100%;
    color: #ffffff;
    background-color: rgba(100, 72, 69, 0.8);
    /* background-image: url("img/bg.png"); */
    /* background-size: cover; */
}

.work1:hover .work-hover,
.work2:hover .work-hover-wide,
.work3:hover .work-hover-wide,
.work4:hover .work-hover {
    visibility: visible;
    
}
.work h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    
    margin: 86px auto 37px;
    
}
.work p {
    max-width: 418px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    padding: 10px;
    
}


.else span {
    
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    
   
}
.else a:hover {
    padding-left: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* КОМАНДА */
.team-section {

    min-height: 998px;
    text-align: center;
    background-color: #E2C4BA;
    padding-top: 50px;
    
}
.team-box {
	/*margin-top: 50px;*/
	/*margin: 50px auto 0;*/
}
.team {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 38px;
    row-gap: 10px;
    margin: 40px auto 0;
    
}

.member {
    max-width: 320px;
    text-align: left;
}

.member img {
    max-width: 100%;
    height: auto;
    transition: transform .2s;
}
.member img:hover {
    transform: scale(1.2);
}

/* ПОД ВОПРОСОМ ОФОРМЛЕНИЕ КАРТИНОК */

.work-scheme-box {
	max-width: 1200px;
	margin: 35px auto 80px;
	
}
.work-scheme {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 0;
    column-gap: 20px;
    row-gap: 40px;
    justify-content:center;
    padding-bottom: 10px;
}
.stage {
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    
    
}
.circle {
    display: flex;
    width: 70px;
    height: 70px;
    color: white;
    background-image: url("img/ellipse.svg");
    justify-content:center;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    /* 
    margin-bottom: 0; */
}

/* ОТЗЫВЫ */
.feedback-section {
    min-height: 658px;
    margin: 65px auto;
    text-align: center;
}
.feedback-section-flex {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
    column-gap: 29px;
    row-gap: 30px;
	align-items: center;
	margin-top: 40px;
	/* margin-left: auto;
	margin-right: auto; */

}
.arrow {
    width: 72px;
	height: 72px;
}
.arrow:hover {
    opacity: 0.5;   
}
/* .arrow-left {
	margin-right: 29px;	
} */

.arrow-left:hover, .arrow-left-mini:hover {
    transform: translateX(-10px);
}
/* .arrow-right {
	margin-left: 29px;	
} */
.arrow-right:hover, .arrow-right-mini:hover {
    transform: translateX(10px);
}
.arrow-mini {
    display: none;
}
article.feedback {
	display: flex;
	flex-wrap: wrap;
    column-gap: 20px;	
	justify-content: center;
	align-items: center;
}

.feedback-text {
	max-width: 407px;
	text-align: left;
	/* margin-right: 20px; */
}
.feedback-text p:first-of-type,
.feedback-text p:nth-of-type(2)
 {
	padding-bottom: 30px;

}
.feedback-text p:last-of-type {
	padding-top: 19px;
}
.feedback-photo {
	/* display: flex;
	flex-direction: column; */
    max-width: 407px;
	line-height: 0;
}
.feedback-photo img {
    max-width: 100%;
    height: auto;
}
.feedback-photo img:first-of-type {
	margin-bottom: 24px;
}

/* ОСТАВИТЬ ЗАЯВКУ */
.application-section {
	display: flex;
	flex-wrap: wrap;
	gap:20px;
	justify-content: center;
	padding-left: 82px;
    min-height: 624px;
    background-color: #8D7370;
    color: #ffffff;
}
.application {
	max-width: 508px;
	margin-top: 50px;
}
.application h2 {
	margin-bottom: 24px;
	color: #ffffff;
}
.application p {
	margin-bottom: 44px;
	opacity: 0.6;
}

input[type="submit"] {
    width: 309px;
    height: 74px;
    background: #CC8B86;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;

    border: none;
    /*margin-top: 5px;*/
}
input[type="submit"]:hover {
	box-shadow: 0 0 12px 0 #533738 /* #E2C4BA;*/
}

input[type="text"], 
input[type="tel"] {
    font-size: 18px;
    line-height: 30px;
    background: #8D7370;
    color: #F6EDE9;
    font-family: Montserrat;
    border: none;
    border-bottom: 2px solid white ;
    margin-bottom: 30px;
    width: 500px;
}
input {outline:none;}
form input:focus {
    border-radius: 7px;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 6px 0 #ffffff;
    /* border: 1px solid #CC8B86;
    box-shadow: inset 0 0 12px 0 #CC8B86; */
    
}
::-webkit-input-placeholder {color:#F6EDE9;}
::-moz-placeholder          {color:#F6EDE9;;}/* Firefox 19+ */
:-moz-placeholder           {color:#F6EDE9;;}/* Firefox 18- */
:-ms-input-placeholder      {color:#F6EDE9;;} 
    

.map {
line-height: 0;
max-width: 590px;
}



/* ПОДВАЛ */
.footer-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 30px;
    margin: 37px auto;
}
.phone {
	margin-right: 42px;	
}
.address {
   
    margin-right: auto;
}
